<nav class="navbar fixed-bottom border-top bg-body-tertiary">
  <div class="container-fluid p-0">
    <ul class="navbar-nav flex-row d-flex justify-content-between w-100">
      <li class="nav-item flex-fill text-center">
        <%= link_to lucide_icon('house'), root_path, class: "nav-link active"  %>
      </li>
      <li class="nav-item flex-fill text-center">
        <%= link_to lucide_icon('bot'), questions_path, class: "nav-link active"  %>
      </li>
      <li class="nav-item flex-fill text-center">
        <% if user_signed_in? %>
          <%= link_to lucide_icon('heart'), favorites_path, class: "nav-link active"  %>
        <% else %>
          <%= link_to lucide_icon('heart'), new_user_session_path, class: "nav-link active", notice: "You must be logged in"  %>
        <% end %>
      </li>
      <li class="nav-item flex-fill text-center">
         <% if user_signed_in? %>
          <%= link_to lucide_icon('circle-user-round'), destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link active"  %>
        <% else %>
          <%= link_to lucide_icon('circle-user-round'), new_user_session_path, class: "nav-link active", notice: "You must be logged in"  %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
