<%# app/views/casts/show.html.erb %>

<div class="container my-5 py-4">
  <%# Director's Profile Header - Full Width, Centered and Prominent %>
  <div class="row"> <%# Reduced bottom margin slightly to make space for the divider %>
    <div class="col-12 d-flex flex-column">
      <div class="px-1">
        <% if @tmdb_cast && @tmdb_cast['profile_path'].present? %>
          <%= image_tag "https://image.tmdb.org/t/p/original#{@tmdb_cast['profile_path']}",
                class: "img-fluid rounded-circle mb-3 border border-4 border-light mx-auto d-block",
                style: "width: 250px; height: 250px; object-fit: cover;" %>
        <% elsif @cast.profile_picture.attached? %>
          <%= image_tag @cast.profile_picture.url,
                class: "img-fluid rounded-circle mb-3 border border-4 border-light mx-auto d-block",
                style: "width: 250px; height: 250px; object-fit: cover;" %>
        <% else %>
          <%= image_tag "https://ui-avatars.com/api/?name=#{ERB::Util.url_encode(@cast.name)}&background=random&color=fff&size=250",
                class: "img-fluid rounded-circle mb-3 border border-4 border-light mx-auto d-block",
                style: "width: 250px; height: 250px; object-fit: cover;" %>
        <% end %>
        <h1 class="fw-bold mb-2 display-4"><%= @cast.name %></h1>

        <% if @tmdb_cast %>
          <p class="text mb-2"><strong>Department:</strong></p>
          <%= @tmdb_cast['known_for_department'] %>
          <p class="text mb-2"><strong>Born:</strong></p>
           <%= @tmdb_cast['birthday'] %> in <%= @tmdb_cast['place_of_birth'] %>
          <div class="mt-3">
            <p data-controller="bio-button">
              <button class="btn p-0 d-flex align-items-center w-100" type="button"
                      data-bs-toggle="collapse" data-bs-target="#biographyCollapse"
                      aria-expanded="false" aria-controls="biographyCollapse">
                <div class="d-flex justify-content-between w-100">
                  <strong>Biography</strong>
                  <span data-bio-button-target="down">
                    <%= lucide_icon 'chevron-down' %>
                  </span>
                  <span data-bio-button-target="up" class="d-none">
                    <%= lucide_icon 'chevron-up' %>
                  </span>
                </div>
              </button>
            </p>
            <div class="collapse text-justify" id="biographyCollapse">
              <p class="text-justify"><%= @tmdb_cast['biography'] %></p>
            </div>
          </div>
        <% end %>

        <%# NEW: Add a static descriptive text/tagline below the name %>

      </div>
    </div>
  </div>

  <%# Filmography Section - Full Width %>
  <div class="row">

      <% if @movies.any? %>
        <%= render partial: "shared/movie_list", locals: { title: 'Filmography', movie_list: @movies } %>
      <% else %>
        <p class="text-muted mt-3 text-center">No movies found for this director yet.</p>
      <% end %>

  </div>
</div>
